@font-face {
  font-family: "Orchidea Pro";
  src: url("../assets/fonts/OrchideaPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/OrchideaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Roboto&display=swap");

$main-font: "Manrope", "Arial", sans-serif;
$title-font: "Orchidea Pro", "Arial", sans-serif;
$footer-font: "Roboto", "Arial", sans-serif;
