@import "../styles/media";
.content {
  position: relative;
  min-height: calc(100vh - 300px);
  padding: 100px 0 60px 0;
  @include media-breakpoint-down(xl) {
    padding: 72px 0 0 0;
    padding-bottom: 24px;
  }
}
