@import "../../styles/colors";
@import "../../styles/media";

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background: $header-color;
  @include media-breakpoint-down(md) {
    height: 60px;
  }
  .logo {
    display: block;
    width: 206px;
    @include media-breakpoint-down(md) {
      width: 118px;
    }
    img {
      width: 100%;
    }
  }
  a {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: $white;
    transition-duration: 0.3s;
    &:hover {
      color: darken($white, 20%);
    }
  }
  .phone {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .phoneMobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

:global {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
