@import "../../styles/colors";
@import "../../styles/fonts";

.footer {
  height: 200px;
  padding-top: 150px;
  background-color: $footer-color;
  p {
    font-family: $footer-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $white;
  }
}
