@import "../../styles/media";

$start: calc(50vw - 700px);
$vertical: calc(700px - 100vh);

.viewport {
  position: sticky;
  top: 0;
  overflow: hidden;
  margin-top: -200px;
  height: 100vh;
  max-width: 100vw;
  white-space: nowrap;
  margin-bottom: $vertical;
  @include media-breakpoint-down(xxl) {
    margin-bottom: calc(600px - 100vh);
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: calc(600px - 100vh);
  }
  @include media-breakpoint-down(lg) {
    overflow-x: scroll;
    height: auto;
    margin-bottom: 70px;
    margin-top: 0;
  }
  .horizCont {
    position: absolute;
    display: flex;
    gap: 40px;
    top: 0;
    left: $start;
    padding-top: 200px;
    box-sizing: content-box;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    @media (max-width: 1440px) {
      left: 20px;
    }
    @include media-breakpoint-down(lg) {
      position: relative;
      width: max-content;
      padding-top: 0;
    }

    .slide {
      width: calc((100vw - 160px - (50vw - 700px)) / 4.5);
      @media (max-width: 1440px) {
        width: calc((100vw - 20px - 160px)) / 4.5;
      }
      @include media-breakpoint-down(lg) {
        width: calc((100vw - 20px) / 1.5);
        overflow-x: scroll;
        height: auto;
        &:last-child {
          margin-right: 20px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.fantom {
  height: 120vh;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
